template(name='game')
  img(src=scene.image)
  .title {{scene.title}}
  p {{scene.description}}


  ul
  each scene.links
    li
      a(href=href) {{text}}


  input(type="text" value="" id="inputbox")
  input(type="submit" value="GO")

  p you said: 
    span(id="yousaid") ..

  hr
  p debug
  pre [ {{scene.image}} ]
