body {
  background-color #ccc
  margin 10px
}

.title {
  position absolute
  top 0
  left 0
  padding 10px
  color white
  font-family "Oswald"
  font-size 30px
}

input {
  font-size 30px
  height 30px
}
